{% extends "base.html" %}

{% block title %}
    :*-(
{% endblock %}

{% block overriding_stylesheet %}
    <link rel="stylesheet" href="static/css/rejection-stylesheet.css">
{% endblock%}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>You are breaking this poor cat's heart.</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>Notice the single tear, poignantly making its way down her cheek. </h3>
            </div>
        </div>

        <div class="row" id="gif-row">
            <iframe src="//giphy.com/embed/NPUqgb8UE2iw8?html5=true" width="480" 
                    height="338" frameBorder="0" class="giphy-embed" allowFullScreen>
            </iframe>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>But so be it.</h3>
            </div>
        </div>
    </div> <!-- end body container -->
{% endblock %}






